{{ extend "base.html" }}
{{ block content }}
  <div id="vue"></div>
{{ end }}
{{ block script }}
  <script src="{{=URL('static','js/analyse_obsas.js')}}"></script>
  <script>
    
    var ajaxparams = function(params) { return { url: '{{=URL(c="analyse",f="vueaxe",host=True,scheme=True) }}', data: params, type: 'GET', dataType: 'html' } }
    {{ import json }}
    var axes = JSON.parse('{{ =XML(json.dumps(axes.keys()).replace("'",u"\\'")) }}');
    var current_suffrages = "{{ =suffrages }}";
    var current_tri = "{{ =tri }}";
    var current_axe = "{{ =axe }}";
    var current_desc = {{ =desc }};
    var current_filtresaxes = JSON.parse('{{ =XML(json.dumps(filtresaxes).replace("'",u"\\'")) }}');
    var current_filtresitems = JSON.parse('{{ =XML(json.dumps(filtresitems).replace("'",u"\\'")) }}');
    var filterson = {{ = filterson }};
  </script>
{{ end }}
