<svg
       viewBox="0 0 1136.4137 1088.9165"
       preserveAspectRation="xMaxYMax meet"
       width="100%"
       height="100%"
       id="svgcirco"
       version="1.1">
      <defs
         id="defs1">
        <style
           id="style1">
           path {fill-opacity:1;fill-rule:evenodd;stroke-opacity:0;fill:#d9c89e}
           path.circo { fill-opacity:1;fill-rule:evenodd;stroke-opacity:1; stroke:white;fill:#d3edf9;}
            path.autres { fill-opacity:1;fill-rule:evenodd;stroke-opacity:1; stroke:white }
            path.outville { fill:white; stroke:#12678e; stroke-width:0.02;}
            path.inville { fill:#afdff5;}
            path.strokelight {  stroke-width:0.04  }
            path.strokenormal {  stroke-width:0.4  }
           
           </style>
      </defs>
     
     
      {{ for c in circos: }}
       <path
            class="circo"
            dep="{{ =c['dep'] }}"
            id="{{ =c['id'] }}"
            d="{{ =c['d'] }}">
           <title id="t{{ =c['id']}}">{{ =c['title'] }}</title>
           <desc id="d{{ =c['id']}}">{{ =c['desc'] }}</desc>
        </path>
        {{ pass }}
    
</svg>
<div id="output">
    
</div>
<script>
    var e = document.getElementsByClassName('circo');
    var o = document.getElementById('output');
    for (var i=0;i<e.length;i++) {
        var c = e[i].getBBox();
        o.innerHTML = o.innerHTML + e[i].getAttribute('id') +',' + c.width +',' + c.height +'|';
    }
</script>
