{{ extend "base.html" }}
{{ block content }}
<style>
    th {
        cursor: pointer;
    }
    .pct {
        font-weight:500;
        font-size:20px;
    }
    {{ for dep in deputes: }} 
    #p{{ =int(dep['place']) }}.participation {
        {{ if dep['statsvote']['exprimepct'] != '-': }}fill:hsl({{ =int(120*float(dep['statsvote']['exprimepct'])/100) }},100%,50%);{{ pass }}
     }
    #p{{ =int(dep['place']) }}.dissidence {
        {{ if dep['statsvote']['disspct'] != '-': }}fill:hsl({{ =int(120*float(100-int(dep['statsvote']['disspct']))/100) }},100%,50%);{{ pass }}
    }
        
    #p{{ =int(dep['place']) }}.ficompat {
        {{ if dep['statsvote']['votefipct'] != '-': }}fill:hsl({{ =int(120*float(dep['statsvote']['votefipct'])/100) }},100%,50%);{{ pass }}
     }
     #p{{ =int(dep['place']) }}.emcompat {
        {{ if dep['statsvote']['voteempct'] != '-': }} fill:hsl({{ =int(120*float(dep['statsvote']['voteempct'])/100) }},100%,50%);{{ pass }}
     }
     {{ pass }}
</style>

<div class="col s12">
    
  <h4>Députés</h4>
    <div class="row">
       <div class="input-field col s6">
        <select id="hselect">
          <option value="participation" selected>Participation</option>
          <option value="dissidence">Dissidence</option>
          <option value="ficompat">Compatibilité FI</option>
          <option value="emcompat">Compatibilité EM</option>
        </select>
        <label>Hémicycle par</label>
      </div>
    </div>
    <div class="row">
        <div class="col s12 l10 offset-l1">
    {{ include "svg/hemicyclelight.svg" }}        
        </div>
    </div>
     
    <div id="deputes">
        <input class="search" placeholder="Recherche">
        <table class="striped highlight centered">
          <thead>
            <tr><th>Photo</th><th class="sort" data-sort="nom">Nom</th><th>Groupe</th><th>Contact</th><th>Circo.</th><th class="sort" data-sort="participation">Participation</th><th class="sort" data-sort="dissidence">Dissidence</th><th class="sort" data-sort="ficompat">FI Compatibilité</th><th class="sort" data-sort="emcompat">EM Compatibilité</th></tr>
          </thead>
          <tbody class="list">
            {{ for d in deputes: }}<tr>
              <td><a href="{{ =URL('depute',vars={'uid':d['uid']}) }}"><img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ =d['uid'][2:] }}.jpg" /></a></td>
              <td><div class="nom" style="display:none;">{{ =d['nomprenom'] }}</div><a href="{{ =URL('depute',vars={'uid':d['uid']}) }}">{{ =d['nomcomplet'] }}</a></td>
              <td class="groupe"><a href="" class="coul{{ =d['groupe_abrev'] }}-text" style="font-weight:500;"><i class="fa fa-group"></i> {{ =d['groupe_abrev'] }}</a></td>
              <td>{{ for (k,v) in d['contacts']: }}
                {{ if (k==u'M\xe8l'): }}
              <a href="mailto:{{ =v }}"><i class="fa fa-envelope-o"></i></a>
            {{ elif (k=='Twitter'): }}
              <a href="https://twitter.com/{{ =v[1:] }}"><i class="fa fa-twitter"></i></a>
            {{ elif (k=='Facebook'): }}
              <a href="https://fr-fr.facebook.com/{{ =v }}"><i class="fa fa-facebook-square"></i></a>
            {{ elif (k=='Site internet'): }}
              <a href="http://{{ =v }}"><i class="fa fa-globe"></i></a>
            {{ pass }}
            {{ pass }}</td>
              <td class="circo">{{ =d['mandats'][0]['election_lieu_region'] }} / {{ =d['mandats'][0]['election_lieu_departement'] }} / {{ =d['mandats'][0]['election_lieu_numCirco'] }}<br/>
              {{ =d['profession_libelleCourant'] or "" }}<br/>{{ =d['age'] }} ans</td>
              <td class="pct"><span class="participation">{{ =d['statsvote']['exprimepct'] }}</span> %</td>
              <td class="pct"><span class="dissidence">{{ =d['statsvote']['disspct'] }}</span> %</td>
              <td class="pct"><span class="ficompat">{{ =d['statsvote']['votefipct'] }}</span> %</td>
              <td class="pct"><span class="emcompat">{{ =d['statsvote']['voteempct'] }}</span> %</td>
              </tr>
            {{ pass }}
          </tbody>
        </table>
      </div>
</div>
{{ end }}
{{ block script }}
  <script>
    var oldhsel = "participation";
    var deputeList = new List('deputes',{ valueNames: ['nom','groupe','circo','participation','dissidence','ficompat','emcompat']});
    function fillhemicycle() {
        var hsel = $('#hselect').val();
        $('.place').removeClass(oldhsel);
        $('.place').addClass(hsel);
        oldhsel = hsel;
    }
    $('#hselect').change(function() {
        fillhemicycle();
    });
    $(document).ready(function() {
         var svg = document.getElementById('hemicycle');
         fillhemicycle();
         
         $.each(svg.getElementsByTagName('a'), function() {
            $(this).attr('href',"{{ = URL('fiches','depute?uid=') }}"+$(this).attr('href'));
         });
     });
  </script>


{{ end }}
