{{ extend "base.html" }}

{{ block style }}
<style>
    .parti {
      color: grey;
      font-weight:300;
    }
    .titredossier {
        font-size:18px;
        text-transform: uppercase;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        background: lightgrey;
        padding-left:10px;
    }
    .pastille {
        height:1.5em;
        width:1.5em;
        margin-top:5px;

        border-radius:50%;
    }
    .pastille.palert {
        height:1em;
        width:1em;
        background:red;
        /*border:4px solid red;*/
    }
    .badgevote {
        padding: 3px;
        color:white;
        border-radius:3px;
        font-weight:400;
        font-size:12px;
        display:inline-block;
        width:80px;
        margin: 0 auto;
        text-align:center;
        text-transform: uppercase;
    }
    .voteabst {
        background: #808080;
    }
    .vote {
        padding-top:20px;
        border-bottom:1px solid lightgrey;

    }
    .sortvote, {
      font-weight: 500;
    }
    .loi, span.loi {
        font-size:26px;
    }
    .motion, span.motion, .amendement, span.amendement, .autre, span.autre {
        font-size:18px;
    }
    .article, span.article, .declaration, span.declaration {
        font-size:22px;
    }
    li.vote a {
        color: black;
    }
    li.vote.absent a, li.vote.absent i.symbole {
        color: #808080;
    }
    li.absent .coulFI-text {
        color:rgba(12,195,214,0.7);
    }
    li.absent .coulREM-text {
        color: rgba(255,192,0,0.7);
    }
    
</style>
{{ end }}
{{ block content }}
<div class="row">
  <div class="col s12">
    <div class="card horizontal coul{{ =groupe_abrev }}bg">
      <div class="card-image">
        <img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ =uid[2:] }}.jpg" style="top:10px;left:10px;"/>
      </div>
      <div class="card-stacked">
        <div class="card-content">


            <h4>{{ =nomcomplet }}</h4>
          <h5>{{ for (k,v) in contacts: }}
            {{ if (k==u'M\xe8l'): }}
              <a href="mailto:{{ =v }}"><i class="fa fa-envelope-o"></i></a>
            {{ elif (k=='Twitter'): }}
              <a href="https://twitter.com/{{ =v[1:] }}"><i class="fa fa-twitter"></i></a>
            {{ elif (k=='Facebook'): }}
              <a href="https://fr-fr.facebook.com/{{ =v }}"><i class="fa fa-facebook-square"></i></a>
            {{ elif (k=='Site internet'): }}
              <a href="http://{{ =v }}"><i class="fa fa-globe"></i></a>

            {{ pass }}
          {{ pass }}</h5>
          <h5><i class="fa fa-group coul{{ =groupe_abrev }}-text"></i> <a href="../groupes/{{ =groupe }}.html" class="coul{{ =groupe_abrev }}-text">{{ =groupe_nom }} ( {{ =groupe_abrev }})</a></h5>
          <span>{{ =profession_libelleCourant }}, né(e) le {{ =etatCivil_infoNaissance_dateNais }} à {{ =etatCivil_infoNaissance_villeNais }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="fa fa-legal coul{{ =groupe_abrev }}-text"></i> Fonctions / Mandats</div>
        <div class="collapsible-body"><ul class="collection">
          {{ for fct in fonctions: }}<li class="collection-item">
             <i class="fa fa-play coul{{ =groupe }}-text"></i> {{ =fct['qualite'] }} <a href="{{ =fct['organe'] }}.html" style="color:black; font-weight:500;">{{ = fct['organe_libelle'] }}</a> (depuis le {{ =fct['debut'] }})
          </li>{{ pass }}
        </ul></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-university coul{{ =groupe_abrev }}-text"></i> Hémicycle</div>
        <div class="collapsible-body">
          <object id="hemicycle" data="{{ =URL('static','images/hemicycle.svg') }}" width='100%' type="image/svg+xml"></object>
        </div>
      </li>
      {{ if deputywatch: }}
      <li>
        <div class="collapsible-header"><i class="fa fa-search coul{{ =groupe_abrev }}-text"></i> Deputy Watch</div>
        <div class="collapsible-body">
          <ul class="collection">
            <li class="collection-item avatar">
              <a href="{{ =acteur['deputywatch']['url'] }}" target="_blank" style="color:black;"><img src='../img/deputywatch.png' alt="" class="circle">
              <span class="title" style="font-weight:450">Faits notables ou infraction</span><p>(voir sur le site deputywatch.org)</p></a>
           </li>
          </ul>
        </div>
      </li>
      {{ pass }}
      <li>
        <div class="collapsible-header"><i class="fa fa-file-text-o coul{{ =groupe_abrev }}-text"></i> HATVP</div>
        <div class="collapsible-body">
          <ul class="collection">{{ for dec in hatvp: }}
            <li class="collection-item avatar">
              <a href="{{ =dec['docurl'] }}" target="_blank" style="color:black;"><i class="fa fa-file-text-o circle coul{{ =groupe_abrev }}"></i>
              <span class="title" style="font-weight:450">{{ =dec['typedoc'] }}</span>
              <p>{{ =dec['qualite'] }}</p></a>
           </li>
          {{ pass }}</ul>

        </div>
      </li>
      <li>
        <div class="collapsible-header active"><i class="fa fa-hand-paper-o coul{{ =groupe_abrev }}-text"></i> Votes</div>
        <div class="collapsible-body">

            <!-- PARTICIPATION -->
            <div class="c100 p{{ =stats['exprimepct'] }} medium participation" title="Participation">
                <span><i class="demo-icon icon-vote" style="font-size:32px;color:#606060;"></i><span style="font-weight:500;color:#606060;">{{ =stats['exprimepct'] }}%</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
             <!-- DISSIDENCE -->
            <div class="c100 p{{ =stats['disspct'] }} medium dissidence" title="Dissidence">
                 <span><i class="demo-icon icon-fist" style="font-size:32px;color:#b71c1c;"></i><span style="font-weight:500;color:#b71c1c">{{ =stats['disspct'] }}%</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <!-- VOTE FI -->
            <div class="c100 p{{ =stats['votefipct'] }} medium fi" title="FI Compatibilité">
                 <span><i class="demo-icon icon-logo-fi coulFI-text" style="font-size:32px"></i><span class="coulFI-text" style="font-weight:500;">{{ =stats['votefipct'] }}%</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <!-- VOTE EM -->
            <div class="c100 p{{ =stats['voteempct'] }} medium rem" title="EM Compatibilité">
                 <span><i class="demo-icon icon-logo-lrem coulREM-text" style="font-size:26px"></i><span class="coulREM-text" style="font-weight:500;">{{ =stats['voteempct'] }}%</span></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
          {{ from collections import OrderedDict }}
          {{ typescr = OrderedDict([('loi',{'libelle':'Loi','icon':'book','defaut':True}),('article',{'libelle':'Article','icon':'file-o','defaut':True}),('amendement',{'libelle':'Amendement','icon':'pencil-square-o','defaut':True}),('motion',{'libelle':'Motion','icon':'undo','defaut':True}),('declaration',{'libelle':'Déclaration','icon':'microphone','defaut':True}),('autre',{'libelle':'Autre','icon':'','defaut':True})]) }}
              {{ posscr = OrderedDict([('votefi',{'libelle':'Comme le groupe FI','defaut':True}),('voteem',{'libelle':'Comme le groupe EM','defaut':True}),('dissidence',{'libelle':'Dissident à son groupe','defaut':True}),('abstention',{'libelle':'Abstention','defaut':True}),('absentnv',{'libelle':'Absent ou non votant','defaut':False})]) }}
          <div id="votes">
            <input class="search" placeholder="Recherche">
            <div class="row">
                <div class="col s6 input-field">
                    <select id="s_typefilter" multiple>
                      {{ for it in typescr: }}
                          <option value="{{ =it }}" {{ if typescr[it]['defaut']: }}selected{{ pass }}>{{ =typescr[it]['libelle'] }}</option>
                      {{ pass }}
                    </select>
                    <label>Types de scrutins</label>
                </div>
                <div class="col s6 input-field">
                    <select id="s_posfilter" multiple>
                      {{ for p in posscr: }}
                          <option value="{{ =p }}" {{ if posscr[p]['defaut']: }}selected{{ pass }}>{{ =posscr[p]['libelle'] }}</option>
                      {{ pass }}
                    </select>
                    <label>Position de vote</label>
                </div>
            

            <ul class="list"> {{ for dos,libdos in scrutins: }}
                
                <div class="titredossier">{{ =libdos }}
                    {{ if dossiers[dos]['voteem']>0: }}<span class="coulREM right" style="font-weight:600;padding-left:5px;padding-right:5px;">{{ = int(100*float(dossiers[dos]['voteem'])/dossiers[dos]['n']) }} %</span>{{ pass }}
                    {{ if dossiers[dos]['votefi']>0: }}<span class="coulFI right" style="font-weight:600;padding-left:5px;padding-right:5px;">{{ = int(100*float(dossiers[dos]['votefi'])/dossiers[dos]['n']) }} %</span>{{ pass }}
                </div>
                {{ for s in scrutins[(dos,libdos)]: }}
                  {{ sicon = typescr[s['typedetail']]['icon'] }}       
                <li class="collection-item vote {{ if s['absent']:}}absent{{ pass }}">
                    <div class="s_pos" style="display:none;">{{ =s['posscr'] }}</div>
                    <div class="s_type" style="display:none;">{{ =s['typedetail'] }}</div>
                    <div class="row">
                      <div class="col s1"><span class="{{=s['typedetail']}} fa-stack fa-lg right">
  <i class="fa fa-circle fa-stack-2x {{ if s['votefi']=='pour':}}coulFI-text{{ elif s['voteem']=='pour':}}coulREM-text{{pass}}"></i>
  <i class="fa fa-{{ =sicon }} fa-stack-1x symbole"></i>
                          </span>{{ if s['flag']: }}<div title="à voté contre son groupe" class="pastille palert right"></div>{{ pass }}</div>
                      <div class="col s9"><a href="" class="{{ = s['typedetail'] }} s_titre" style="font-weight:500">Scrutin n°{{ =s['scrutin_num']}} du {{ =s['scrutin_date'] }} <span class="s_sort" style="font-size:16px"> ({{ =s['sort'] }})</span></a>
                          <a class="s_desc" href="{{ '../scrutins/%s.html' % s['scrutin_id'] }}">{{ =s['scrutin_desc'] }}</a>
                      </div>
                      <div class="col s2">
                          <!--<span class="{{ =positions[s['scrutin_id']] }} badgevote valign-wrapper">{{ =positions[s['scrutin_id']] }}</span>-->
                          <span class="{{ if (s['votefi']==positions[s['scrutin_id']] and s['voteem']!=positions[s['scrutin_id']]): }}coulFI{{ elif (s['votefi']!=positions[s['scrutin_id']] and s['voteem']==positions[s['scrutin_id']]): }}coulREM{{ else: }}voteabst{{ pass }} badgevote valign-wrapper">{{ =positions[s['scrutin_id']] }}</span>
                      </div>
                    </div>
                </li>
                {{ pass }}
                {{ pass }}
               </ul>

          </div>
        </div>
      </li>
     <!-- {{ = stats }}
        {{ = dossiers }}-->

    </ul>
  </div>
</div>
{{ end }}
{{ block script }}
  <script>
    var votesList;
    var typefilter;
    var posfilter;
    $('#s_typefilter').change(function(){
        typefilter = $('#s_typefilter').val()
        votesList.filter(fscrutintype);
    });
    $('#s_posfilter').change(function(){
        posfilter = $('#s_posfilter').val()
        votesList.filter(fscrutinpos);
    });
    function fscrutintype(item) {
        var keep = false;
        for (i=0;i<typefilter.length;i++) {
            if (item.values().s_type==typefilter[i]) {
                keep = true;
            }
        }
        return keep;
    }
    function fscrutinpos(item) {
        var keep = false;
        for (i=0;i<typefilter.length;i++) {
            if (item.values().s_pos.indexOf(posfilter[i])>=0) {
                keep = true;
            }
        }
        return keep;
    }
    $(document).ready(function() {
        var options = {
            valueNames: [ 's_titre','s_sort', 's_desc','s_type','s_pos' ]
        };

        votesList = new List('votes', options);
        typefilter = $('#s_typefilter').val()
        posfilter = $('#s_posfilter').val()
        votesList.filter(fscrutintype);
        votesList.filter(fscrutinpos);
        console.log(typefilter,posfilter);
    });
    
   
    var svg = document.getElementById('hemicycle');
    svg.addEventListener('load', function () {
      //var svg = document.getElementById('hemicycle');
      var svgDoc = svg.contentDocument;
      var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
      styleElement.textContent = "#p{{ =place }} { fill:  black; stroke-width:3px; stroke: black;}"; // add whatever you need here
      svgDoc.getElementById('defs').appendChild(styleElement);

    });
    
  </script>
{{ end }}
