{% extends "basetmpl.html" %}
{% block content %}
<div class="col s12">
  <h4>Députés</h4>
    <div id="deputes">
        <input class="search" placeholder="Recherche">
        <table class="striped highlight centered">
          <thead>
            <tr><th>Photo</th><th>Nom</th><th>Groupe</th><th>Contact</th><th>Circo.</th><th>Profession</th><th>Age</th></tr>
          </thead>
          <tbody class="list">
            {% for a in acteurs %}<tr>
              {% set acteur = acteurs[a] %}
              {% set groupe = groupes[acteur['groupe']] %}

              <td><a href="acteurs/{{ a }}.html"><img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ a[2:] }}.jpg" /></a></td>
              <td class="nom"><a href="acteurs/{{ a }}.html" style="font-weight:500;">{{ nomcomplet(acteur) }}</a></td>
              <td><a href="groupes/{{ acteur['groupe'] }}.html" class="{{ groupe['csscolor'] }}-text" style="font-weight:500;"><i class="fa fa-group"></i> {{ groupe['libelleAbrev'] }}</a></td>
              <td>{% for (k,v) in acteur['contacts'] %}
                {% if (k=="Mèl") %}
                  <a href="mailto:{{ v }}"><i class="fa fa-envelope-o"></i></a>
                {% elif (k=='Twitter') %}
                  <a href="https://twitter.com/{{ v[1:] }}"><i class="fa fa-twitter"></i></a>
                {% elif (k=='Facebook') %}
                  <a href="https://fr-fr.facebook.com/{{ v }}"><i class="fa fa-facebook-square"></i></a>
                {% elif (k=='Site internet') %}
                  <a href="http://{{ v }}"><i class="fa fa-globe"></i></a>

                {% endif %}
              {% endfor %}</td>
              <td>{{ acteur['mandats'][0]['election.lieu.region'] }} / {{ acteur['mandats'][0]['election.lieu.departement'] }} / {{ acteur['mandats'][0]['election.lieu.numCirco'] }}</td>
              <td>{{ acteur['profession.libelleCourant'] or "" }}</td>
              <td>{{ acteur['age'] }} ans</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
    var deputeList = new List('deputes',{ valueNames: ['nom']});
  </script>


{% endblock %}
