{{extend 'base.html'}}
{{ block content }}
{{ graphes = [{'titre':'Prorata Interventions/Représentivité par groupe','item':'ratio_itv','step':1},
              {'titre':'Prorata Mots/Représentivité par groupe','item':'ratio_mots','step':1},
              {'titre':'Interventions par groupes','item':'nbitv'},
              {'titre':'Mots par groupes','item':'nbmots'},
              {'titre':'Interventions/député par groupe','item':'nbitv_dep'},
              {'titre':'Mots/député par groupe','item':'nbmots_dep'},
             ] }}
<div class="row">
    {{ for i,gr in enumerate(graphes): }}
    <div class="col m6 s12">
        <div class="card">
            <div class="card-content">
              <span class="card-title">{{ =gr['titre'] }}</span>
              <canvas id="chart-area-{{ =i }}" />
            </div>
        </div>
    </div>
    {{ pass }}
</div>
    
</div>

{{ end }}
{{ block script }}
<script>
    {{ import json }}
    
    function getlabel(tooltipItem, data) {
          var allData = data.datasets[tooltipItem.datasetIndex].data;
          var tooltipLabel = data.labels[tooltipItem.index];
          var tooltipData = allData[tooltipItem.index];
          var total = 0;
          for (var i in allData) {
            total += allData[i];
          }
          var tooltipPercentage = Math.round((tooltipData / total) * 100);
          return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
    }
    {{ for i,gr in enumerate(graphes): }}
        {{ order = sorted([ (g[gr['item']],j) for j,g in enumerate(groupes) ],key=lambda x:x[0],reverse=True) }}
        var colors = JSON.parse('{{ =XML(json.dumps([colors[o[1]] for o in order])) }}');
        var labels = JSON.parse('{{ =XML(json.dumps([ groupes[o[1]]["libelle"].split(':')[0].strip() for o in order])) }}');
        var data{{ =i }} = JSON.parse('{{ =XML(json.dumps([ groupes[o[1]][gr['item']] for o in order])) }}');
        var config{{ =i }} = {
        type: "horizontalBar",
        data: {
            datasets: [{
                data: data{{ =i }},
                backgroundColor: colors,
                
            }],
            labels: labels
        },
        options: {
            legend: {
                display: false
            },{{ if 'step' in gr.keys(): }}
            scales: {
                        xAxes: [
                            {
                                ticks: {
                                    min: 0, // it is for ignoring negative step.
                                    beginAtZero: true,
                                    stepSize: {{ =gr['step'] }}  // if i use this it always set it '1', which look very awkward if it have high value  e.g. '100'.
                                }
                            }
                        ]
            },{{ pass }}
            responsive: true,
            tooltips: {
                  callbacks: {
                    label: getlabel,
                  }
              }
        }
        };
    {{ pass }}
    window.onload = function() {
        {{ for i,gr in enumerate(graphes): }}
            var ctx = document.getElementById("chart-area-{{ =i}}").getContext("2d");
            window.myPie = new Chart(ctx, config{{ =i }});
        {{ pass }}
    };
</script>
{{ end }}
